<div *ngIf="seller != null">
<form class="form">
    <mat-form-field class="full-width">
      <input matInput placeholder="Nazwa Firmy" value="{{seller.companyName}}" disabled >
    </mat-form-field> 
    <p>
      <mat-form-field class="full-width">
        <input matInput placeholder="Adress" value="{{seller.street}}" disabled >
      </mat-form-field>
    </p>
  
    <table class="full-width" cellspacing="0"><tr>
      <td><mat-form-field class="full-width">
        <input matInput placeholder="Miasto" value = "{{seller.city}}" disabled >
      </mat-form-field></td>
      <td><mat-form-field class="full-width">
        <input matInput #postalCode maxlength="6" placeholder="Kod Pocztowy" value="{{seller.postalCode}}" disabled>
        <mat-hint align="end">{{postalCode.value.length}} / 6</mat-hint>
      </mat-form-field></td>
    </tr></table>

    <mat-form-field class="full-width">
        <input matInput #nip placeholder="Nip" value="{{seller.nip}}" disabled>
        <mat-hint align="end">{{nip.value.length}} / 12</mat-hint>
      </mat-form-field>

        <mat-form-field class="full-width">
        <input matInput #banknumber placeholder="Numer konta Bankowego" value="{{seller.bankAccountNumber}}" disabled>
        <mat-hint align="end">{{banknumber.value.length}} / 26</mat-hint>
      </mat-form-field>

      <table class="full-width" cellspacing="0"><tr>
        <td><mat-form-field class="full-width" disabled >
          <input matInput placeholder="Nazwa Banku" value = "{{seller.bankName}}" disabled>
        </mat-form-field></td>
        <td><mat-form-field class="full-width">
          <input matInput placeholder="Numer Swift" value="{{seller.bankSwift}}" disabled>
        </mat-form-field></td>
      </tr></table>
  </form>
</div>