<div>
    <form [formGroup]="customerForm">
        <mat-form-field class="full-width">
          <input matInput placeholder="Klient"  formControlName="nameControl">
          <mat-error>
           Nazwa Klienta jest <strong>wymagana!</strong>
          </mat-error>
        </mat-form-field>  
        <p>
          <mat-form-field class="full-width">
            <input matInput placeholder="Adress" formControlName="adressControl">
            <mat-error>
              Pole Adress jest <strong>wymagane!</strong>
             </mat-error>
          </mat-form-field>
        </p>
      
        <table class="full-width" cellspacing="0"><tr>
          <td><mat-form-field class="full-width">
            <input matInput placeholder="Miasto" formControlName="cityControl">
            <mat-error>
              Pole Miasto jest <strong>wymagane!</strong>
             </mat-error>
          </mat-form-field></td>
          <td><mat-form-field class="full-width">
            <input matInput #postalCode maxlength="6" placeholder="Kod Pocztowy" formControlName="postalCodeControl">
            <mat-error>
              Pole Kod Pocztowy jest <strong>wymagane! Format kodu pocztowego ##-####</strong>
             </mat-error>
            <mat-hint align="end">{{postalCode.value.length}} / 6</mat-hint>
          </mat-form-field></td>
        </tr></table>
    
        <mat-form-field class="full-width">
            <input matInput #nip placeholder="Nip" formControlName="nipControl" maxlength="10"  OnlyNumber="true">
            <mat-error>
              Nip posiada <strong>{{nip.value.length}} /10 liczb!</strong>  
             </mat-error>
            <mat-hint align="end">{{nip.value.length}} / 10</mat-hint>
          </mat-form-field>
          <button button mat-raised-button color="primary" (click)="addCustomer()" >Dodaj sprzedawcę</button>
      </form>
    </div>