<form class="form">
  <mat-toolbar>
    <mat-toolbar-row>
      <span><button mat-flat-button color (click)="openDialog()">Dodaj produkt</button></span>
    </mat-toolbar-row>
  </mat-toolbar>
<table class="full-width" cellspacing="0"><tr>
    <td class="td">
        <mat-toolbar>
            <mat-toolbar-row>
              <span>Sprzedawca</span>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-form-field class="full-width">
          <input matInput placeholder="Nazwa" disabled [value]="sellerInfo.companyname">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Adres" disabled [value]="sellerInfo.street + ', ' + postalCode + ' ' + sellerInfo.city ">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Nip" disabled [value]="sellerInfo.nip">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Numer konta bankowego" disabled [value]="sellerInfo.bankAccountNumber">
        </mat-form-field>
    </td>
    <td class ="td">
        <mat-toolbar>
            <mat-toolbar-row>
              <span>Nabywca</span>
            </mat-toolbar-row>
        </mat-toolbar>
        <table class="full-width" cellspacing="0"><tr>
            <td><mat-form-field class="full-width">
              <input matInput placeholder="Imie" disabled [value]="customerInfo.name">
            </mat-form-field></td>
            <td><mat-form-field class="full-width">
              <input matInput placeholder="Nazwisko" disabled [value]="customerInfo.surname">
            </mat-form-field></td>
          </tr></table>
          <mat-form-field class="full-width">
            <input matInput placeholder="Organizacja" disabled [value]="customerInfo.organizationName">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Adres" disabled [value]="customerInfo.adress + ', ' + customerInfo.postalCode + ' ' + customerInfo.city " >
          </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Nip" disabled [value]="customerInfo.nip">
        </mat-form-field>
    </td>
  </tr></table>
<div *ngIf="products!=null">
  <mat-toolbar>Produkty</mat-toolbar>

  <table mat-table [dataSource]="products.items" class="full-width">
    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef> Produkt</th>
      <td mat-cell *matCellDef="let product"> {{product.name}}  </td>
      <td mat-footer-cell *matFooterCellDef> Suma </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Ilość</th>
      <td mat-cell *matCellDef="let product"> {{product.quantity}} </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>
    
    <ng-container matColumnDef="net">
      <th mat-header-cell *matHeaderCellDef> Cena Netto</th>
      <td mat-cell *matCellDef="let product"> {{product.netperunit | currency:" ":"symbol"}} PLN</td>
      <td mat-footer-cell *matFooterCellDef> {{products.netToPay | currency:" ":"symbol"}} PLN </td>
    </ng-container>
  
    <ng-container matColumnDef="gross">
      <th mat-header-cell *matHeaderCellDef> Cena Brutto </th>
      <td mat-cell *matCellDef="let product"> {{product.grossperunit | currency:" ":"symbol"}} PLN </td>
      <td mat-footer-cell *matFooterCellDef> {{products.grossToPay |currency:" ":"symbol"}} PLN </td>
    </ng-container>
  
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let product" > 
        <button mat-button (click)="editDialog(product)">
        <i class="material-icons">
        edit
        </i>
      </button>
      <button mat-button (click)="deleteProduct(product)">
        <i class="material-icons">
        delete
        </i></button>
    </td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
  </table>
  <mat-paginator [length]="products.totalItems"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="pageChanged($event)">
</mat-paginator>
</div>
</form>