.container {
	width: 100%;
	margin-bottom: 10px;
	text-align: center;
}

.boxes {
	width: 25%;
	height: 40%;
	border: solid grey;
	margin: 8px 10px;
    display: inline-block;
    white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}
.boxes button{
	position: absolute;
	right:    0;
	bottom:   0;
}